*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #031000;
    color: white;
    padding: 30px;
}

header{
    text-align: center;
    margin-bottom: 30px;
}

header h1{
    font-size: 40px;
    margin-bottom: 10px;
}

header p{
    color: #bfbfbf;
}

.controles{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 25px;
    flex-wrap: wrap;
}

input,
select{
    padding: 12px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
}

input{
    width: 320px;
}

#contador{
    text-align: center;
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: bold;
}

.grilla{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(260px,1fr));
    gap: 20px;
}

.card{
    background: white;
    color: black;
    border-radius: 12px;
    overflow: hidden;
    transition: .25s;
    box-shadow: 0 5px 15px rgba(0,0,0,.4);
    cursor: pointer;
}

.card:hover{
    transform: scale(1.03);
}

.card img{
    width: 100%;
    height: 160px;
    object-fit: contain;
    background: #1a1a1a;
    padding: 20px;
}

.card-contenido{
    padding: 15px;
}

.familia{
    display: inline-block;
    background: #111;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 13px;
    margin-bottom: 10px;
}

.card h2{
    margin-bottom: 10px;
    font-size: 22px;
}

.descripcion{
    color: #444;
    line-height: 1.5;
    margin-bottom: 15px;
}

.dificultad{
    font-weight: bold;
}

@media(max-width:700px){
    .controles{
        flex-direction: column;
        align-items: center;
    }
    input,
    select{
        width: 95%;
    }
}
